*{
    border: 0;
    margin: 0;
}

body{
    background-color: #ccc;
    background-image: url('images/backGPhoto.jpg');
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.counter{
    background-color: black;
    text-align: center;
    width: 60%;
    color: white;
    height: 22rem;
    margin: auto;
    margin-top: 7rem;
    padding-top: 1.5rem;
    border: 4px solid goldenrod;
    border-radius: 10px;
}

.increment{
    color: white;
    font-weight: bold;
    background-color: green;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
}

.increment:hover{
    background-color: rgb(1, 75, 1);
}

.decrement{
    color: white;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
}

.decrement:hover{
    background-color: rgb(158, 5, 5);
}

.save{
    color: white;
    font-weight: bold;
    background-color: blue;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
}

.save:hover{
    background-color: rgb(1, 1, 148);
}

.counter p {
    margin-top: 1rem;
    font-size: larger;
}

#repCount{
    margin-bottom: 4rem;
}